# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Maven & Java
target/
demo/target/
*.class
*.jar
*.war
*.ear

# IDE
.idea/
*.iml
.classpath
.project
.settings/

# OS
Thumbs.db
.DS_Store
